<ion-view hide-back-button="true">
  <ion-content class="padding login-page">
    <p><img src="img/ionic.png" /></p>
	<h2>lunch&amp;meet</h2>
	<h3>Интересные обеды</h3>
	<br/>
	<br/>
	<h3>Войти с помощью</h3>
	<button class="button button-block button-stable" ng-click="auth('google')">Google Accounts</button>
	<button class="button button-block button-stable" ng-click="auth('facebook')">Facebook</button>
	<button class="button button-block button-stable" ng-click="auth('vkontakte')">ВКонтакте</button>
	<button class="button button-block button-stable" ng-click="auth('odnoklassniki')">Одноклассники</button>
  </ion-content>
</ion-view>
