<ion-view hide-back-button="true">
  <ion-content class="profile">
  <!--
  <div class="bar bar-header">
	<button class="button icon ion-navicon" ng-click="showMenu()"></button>
	<h1 class="title">Профиль</h1>
  </div>
-->
  <div class="avatar">
	<img src="{{profile.pictureURL}}" width="100" height="100" />
	<h1>{{profile.name}}</h1>
  </div>
	<label class="item item-input">
    	<textarea rows="3">Инженер-программист, умею организовывать разработку</textarea>
  	</label>
  <div class="item">
	Время обеда
	<p class="right">
		<select>
			<option ng-repeat="n in [] | range:24">{{n}}</option>
		</select>
		:
		<select>
			<option ng-repeat="n in [] | range:60">{{n}}</option>
		</select>
	</p>
  </div>
  <div class="item">
	Готов к обеду за
	<p class="right">
		<select>
			<option>10</option>
			<option>20</option>
			<option>30</option>
		</select>
		мин</p>
  </div>
  <div class="item ">
	Рассказать друзьям
	<p class="right">
		<label class="checkbox">
		<input type="checkbox" checked />
		</label>
	</p>
  </div>
  <div class="item">
	Я прочитал и согласен с условиями <a href="#">лицензионного соглашения</a>
	<p class="right">
		<label class="checkbox">
		<input type="checkbox" />
		</label>
	</p>
  </div>
  
  <div class="padding">
  <button class="button button-block button-stable" ng-click="save()">Сохранить</button>
  </div>
  
  </ion-content>
</ion-view>
